@import "base.css";

:root{
    --place-bg1: wheat;
    --place-fontcolor1: var(--primary_font_color);
    --place-sechead: rgba(64, 224, 208, 0.74);
    --place-secbod: rgba(255, 255, 240, 0.662);
    --place-sechead-sm: turquoise;
    --place-secbod-sm: ivory;
}

.body {
    background-color: var(--place-bg1);
    color: var(--place-fontcolor1);
}

.hero img{
    display: block;
    /* margin: 0 auto; */
    /* position: relative; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: none; */
}

.place-content {
    position: relative;
    display: block;
}

.s2, .s1 {
    /* display: flex; */
    position: absolute;
}

.s1 {
    top: 20px;
    left: 20px;
    text-align: center;
}

.s1 p {
    padding: 2px;
    font-size: 1.2rem;
}

.s2 {
    bottom: 20px;
    right: 20px;
}

section {
    background-color: var(--place-secbod);
    /* padding: 0 1.5rem 1.5rem 1.5rem; */
    min-width: 15rem;
    min-height: 10rem;
}

section h2 {
    display: block;
    background-color: var(--place-sechead);
    width: 100%;
    /* float: left; */
    /* left: 100px; */
    border: 0;
}

.main {
    width: auto;
}

.large-icon {
    display: none;
}

.s2 h2::after {
    content: " ⛅";
}

.small-icon {
    display: block;
    font-size: 3rem;
    /* the emoji was way way too small */
}

@media screen and (max-width: 750px) {
    .hero img {
        width: 100%;
        /* alt: "Cactus Wren"; */
    }

    .s1, .s2 {
        position: relative;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
    }

    section {
        background-color: var(--place-secbod-sm);
    }

    section h2 {
        background-color: var(--place-sechead-sm);
    }

    .large-icon {
        display: block;
    }

    .small-icon {
        display: none;
    }

    .s2 h2::after {
        content: "";
    }
}